<a href="https://colab.research.google.com/github/zinebgasmi/App-pratique/blob/master/phrc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
! pip install xlrd==1.2.0

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlrd==1.2.0 in /usr/local/lib/python3.7/dist-packages (1.2.0)

In [80]:
# Importer les packages
import pandas as pd
import re

In [31]:
#importation des bases de données

In [32]:
phrcI_2012=pd.read_excel('RESULTAT-PHRCI-2012-3.xls')
phrcK_2012=pd.read_excel('RESULTAT-PHRCK-2012-2.xls')
phrcN_2012=pd.read_excel('RESULTAT-PHRCN-2012-v2.xls')
phrcI_2013=pd.read_excel('Resultats_PHRC-I_2013-1.xlsx')
phrcK_2013=pd.read_excel('Resultats_PHRC-K_2013.xlsx')
phrcN_2013=pd.read_excel('Resultats_PHRC-N_2013.xlsx')
phrcI_2014=pd.read_excel('Projets_retenus_PHRC-I_2014.xls')
phrcK_2014=pd.read_excel('resultats_phrc-k_2014.2.xls')
phrcN_2014=pd.read_excel('Resultats_PHRC-N_2014.xls')
phrcI_2015=pd.read_excel('projets_retenus_phrc-i_2015.xlsx')
phrcK_2015=pd.read_excel('projets_retenus_phrc-k_2015.xlsx')
phrcN_2015=pd.read_excel('projets_retenus_phrc-n_2015.xls')
phrcI_2016=pd.read_excel('resultats_phrc-i_2016_mel.xlsx')
phrcK_2016=pd.read_excel('resultats_phrc-k_2016_mel.xlsx')
phrcN_2016=pd.read_excel('resultats_phrc_2016_mel.xlsx')
phrcI_2017=pd.read_excel('dgos_resultats_phrc_i_2017_240718.xlsx')
phrcK_2017=pd.read_excel('resultats_phrc-k_2017_040118.xlsx')
phrcN_2017=pd.read_excel('resultats_phrc-n_2017_040118.xlsx')
phrcI_2018=pd.read_excel('resultats_phrci_2018_mel.xlsx')
phrcK_2018=pd.read_excel('resultats_phrck_2018_mel.xlsx')
phrcN_2018=pd.read_excel('resultats_phrc-n_2017_040118.xlsx')
phrcI_2019=pd.read_excel('resultats_phrci_2019_mel_v0-1_20200929.xlsx')
phrcK_2019=pd.read_excel('resultats_phrc-k_2019_mel_v0-2_20200205.xlsx')
phrcN_2019=pd.read_excel('resultats_phrcn_2019_mel_v0-2_20200102.xlsx')
phrc1_2020=pd.read_excel('phrck_20_resultatsselection_v0-0_20210624_mel.xlsx')
phrc2_2020=pd.read_excel('phrcn_20_resultatsselection_v2-0_20211006_mel.xlsx')
phrc_2021=pd.read_excel('phrcn_21_resultatsselection_v0-0_20220713_mel.xlsx')

In [33]:
#attribuer des types et années

In [42]:
phrcI_2012["Année"] = "2012"
phrcI_2012["Type"] = "I"
phrcK_2012["Année"] = "2012"
phrcK_2012["Type"] = "K"
phrcN_2012["Année"] = "2012"
phrcN_2012["Type"] = "N"
phrcI_2013["Année"] = "2013"
phrcI_2013["Type"] = "I"
phrcK_2013["Année"] = "2013"
phrcK_2013["Type"] = "K"
phrcN_2013["Année"] = "2013"
phrcN_2013["Type"] = "N"
phrcI_2014["Année"] = "2014"
phrcI_2014["Type"] = "I"
phrcK_2014["Année"] = "2014"
phrcK_2014["Type"] = "K"
phrcN_2014["Année"] = "2014"
phrcN_2014["Type"] = "N"
phrcI_2015["Année"] = "2015"
phrcI_2015["Type"] = "I"
phrcK_2015["Année"] = "2015"
phrcK_2015["Type"] = "K"
phrcN_2015["Année"] = "2015"
phrcN_2015["Type"] = "N"
phrcI_2016["Année"] = "2016"
phrcI_2016["Type"] = "I"
phrcK_2016["Année"] = "2016"
phrcK_2016["Type"] = "K"
phrcN_2016["Année"] = "2016"
phrcN_2016["Type"] = "N"
phrcI_2017["Année"] = "2017"
phrcI_2017["Type"] = "I"
phrcK_2017["Année"] = "2017"
phrcK_2017["Type"] = "K"
phrcN_2017["Année"] = "2017"
phrcN_2017["Type"] = "N"
phrcI_2018["Année"] = "2018"
phrcI_2018["Type"] = "I"
phrcK_2018["Année"] = "2018"
phrcK_2018["Type"] = "K"
phrcN_2018["Année"] = "2018"
phrcN_2018["Type"] = "N"
phrcI_2019["Année"] = "2012"
phrcI_2019["Type"] = "I"
phrcK_2019["Année"] = "2012"
phrcK_2019["Type"] = "K"
phrcN_2019["Année"] = "2012"
phrcN_2019["Type"] = "N"
phrc1_2020["Année"] = "2020"
phrc1_2020["Type"] = "np.nan"
phrc2_2020["Année"] = "2020"
phrc2_2020["Type"] = "np.nan"
phrc_2021["Année"] = "2021"
phrc_2021["Type"] = "np.nan"

In [43]:
phrcI_2012.columns

Index(['FINESS\njuridique',
       'Nom de l'Etablissement de Santé\ndu Porteur de Projet/Investigateur\nCoordonnateur',
       'Porteur de Projet/Investigateur\nCoordonnateur\nNOM',
       'Porteur de Projet/Investigateur\nCoordonnateur\nPRENOM',
       'Titre du projet', 'N° du projet', 'Acronyme',
       'Montant maximal PREVISIONNEL \n (accordé  sous conditions de suivi)',
       'Année', 'Type'],
      dtype='object')

In [44]:
#suppression d'une colonne
phrcI_2012=phrcI_2012.drop(['Inter région'], axis=1)

KeyError: ignored

In [45]:
phrcK_2012.columns

Index(['FINESS\njuridique',
       'Nom de l'Etablissement de Santé\ndu Porteur de Projet/Investigateur\nCoordonnateur',
       'Porteur de Projet/Investigateur\nCoordonnateur\nNOM',
       'Porteur de Projet/Investigateur\nCoordonnateur\nPRENOM',
       'Titre du projet', 'N° du projet', 'Acronyme',
       'Montant maximal PREVISIONNEL (accordé  sous conditions de suivi)',
       'Année', 'Type'],
      dtype='object')

In [46]:
phrcN_2012.columns

Index(['FINESS\njuridique',
       'Nom de l'Etablissement de Santé\ndu Porteur de Projet/Investigateur\nCoordonnateur',
       'Porteur de Projet/Investigateur\nCoordonnateur\nNOM',
       'Porteur de Projet/Investigateur\nCoordonnateur\nPRENOM',
       'Titre du projet', 'N° du projet', 'Acronyme',
       'Montant maximal PREVISIONNEL (accordé  sous conditions de suivi)',
       'Année', 'Type'],
      dtype='object')

In [47]:
#renommer les colonnes
phrcI_2012.columns = ["Finess","Nom de l'établissement","NomInvestigateur","PrénomInvestigateur","TitreProjet","NuméroProjet","Acronyme","MontantAccordé","Année","Type"]
phrcN_2012.columns = ["Finess","Nom de l'établissement","NomInvestigateur","PrénomInvestigateur","TitreProjet","NuméroProjet","Acronyme","MontantAccordé","Année","Type"]
phrcK_2012.columns = ["Finess","Nom de l'établissement","NomInvestigateur","PrénomInvestigateur","TitreProjet","NuméroProjet","Acronyme","MontantAccordé","Année","Type"]

In [48]:
#concatenation I,N,K
phrc2012 = pd.concat([phrcI_2012,phrcK_2012,phrcN_2012])

In [49]:
#concatener et renommer les colonnes
phrc2013 = pd.concat([phrcI_2013,phrcK_2013,phrcN_2013])
phrc2013.columns = ["Finess","Nom de l'établissement","NomInvestigateur","PrénomInvestigateur","TitreProjet","NuméroProjet","Acronyme","MontantAccordé","Année","Type"]

In [50]:
#supprimer une colonne
phrcK_2014=phrcK_2014.drop(['Commentaires'], axis=1)

In [51]:
#concatener et renommer les colonnes
phrc2014 = pd.concat([phrcI_2014,phrcK_2014,phrcN_2014])
phrc2014.columns = ["Finess","Nom de l'établissement","NomInvestigateur","PrénomInvestigateur","TitreProjet","NuméroProjet","Acronyme","MontantAccordé","Année","Type"]

In [52]:
#renommer les colonnes
phrcN_2015.columns = ["Finess","Nom de l'établissement","NomInvestigateur","PrénomInvestigateur","TitreProjet","NuméroProjet","Acronyme","MontantAccordé","Année","Type"]
phrcI_2015.columns = ["Finess","Nom de l'établissement","NomInvestigateur","PrénomInvestigateur","TitreProjet","NuméroProjet","Acronyme","MontantAccordé","Année","Type"]
phrcK_2015.columns = ["Finess","Nom de l'établissement","NomInvestigateur","PrénomInvestigateur","TitreProjet","NuméroProjet","Acronyme","MontantAccordé","Année","Type"]

In [53]:
#concatenation
phrc2015 = pd.concat([phrcI_2015,phrcK_2015,phrcN_2015])

In [54]:
#renommer les colonnes
phrcN_2016.columns = ["Finess","Nom de l'établissement","NomInvestigateur","PrénomInvestigateur","TitreProjet","NuméroProjet","Acronyme","MontantAccordé","Année","Type"]
phrcK_2016.columns = ["Finess","Nom de l'établissement","NomInvestigateur","PrénomInvestigateur","TitreProjet","NuméroProjet","Acronyme","MontantAccordé","Année","Type"]
phrcI_2016.columns = ["Finess","Nom de l'établissement","NomInvestigateur","PrénomInvestigateur","TitreProjet","NuméroProjet","Acronyme","MontantAccordé","Année","Type"]

In [55]:
#concatenation
phrc2016 = pd.concat([phrcI_2016,phrcK_2016,phrcN_2016])

In [56]:
#renommer les colonnes
phrcN_2017.columns = ["Finess","Nom de l'établissement","NomInvestigateur","PrénomInvestigateur","TitreProjet","NuméroProjet","Acronyme","MontantAccordé","Année","Type"]
phrcK_2017.columns = ["Finess","Nom de l'établissement","NomInvestigateur","PrénomInvestigateur","TitreProjet","NuméroProjet","Acronyme","MontantAccordé","Année","Type"]
phrcI_2017.columns = ["Finess","Nom de l'établissement","NomInvestigateur","PrénomInvestigateur","TitreProjet","NuméroProjet","Acronyme","MontantAccordé","Année","Type"]

In [57]:
#cocatenation
phrc2017 = pd.concat([phrcI_2016,phrcK_2016,phrcN_2016])

In [58]:
#renommer les colonnes
phrcN_2018.columns = ["Finess","Nom de l'établissement","NomInvestigateur","PrénomInvestigateur","TitreProjet","NuméroProjet","Acronyme","MontantAccordé","Année","Type"]
phrcK_2018.columns = ["Finess","Nom de l'établissement","NomInvestigateur","PrénomInvestigateur","TitreProjet","NuméroProjet","Acronyme","MontantAccordé","Année","Type"]
phrcI_2018.columns = ["Finess","Nom de l'établissement","NomInvestigateur","PrénomInvestigateur","TitreProjet","NuméroProjet","Acronyme","MontantAccordé","Année","Type"]

In [59]:
#concatenation
phrc2018 = pd.concat([phrcI_2018,phrcK_2018,phrcN_2018])

In [60]:
#renommer les colonnes
phrcN_2019.columns = ["Finess","Nom de l'établissement","NomInvestigateur","PrénomInvestigateur","TitreProjet","NuméroProjet","Acronyme","MontantAccordé","Année","Type"]
phrcK_2019.columns = ["Finess","Nom de l'établissement","NomInvestigateur","PrénomInvestigateur","TitreProjet","NuméroProjet","Acronyme","MontantAccordé","Année","Type"]
phrcI_2019.columns = ["Finess","Nom de l'établissement","NomInvestigateur","PrénomInvestigateur","TitreProjet","NuméroProjet","Acronyme","MontantAccordé","Année","Type"]

In [61]:
#concatenation
phrc2019 = pd.concat([phrcI_2019,phrcK_2019,phrcN_2019])

In [62]:
#renommer les colonnes
phrc1_2020.columns = ["Finess","Nom de l'établissement","NomInvestigateur","PrénomInvestigateur","TitreProjet","NuméroProjet","Acronyme","MontantAccordé","Année","Type"]
phrc2_2020.columns = ["Finess","Nom de l'établissement","NomInvestigateur","PrénomInvestigateur","TitreProjet","NuméroProjet","Acronyme","MontantAccordé","Année","Type"]

In [63]:
#concatenation
phrc2020 = pd.concat([phrc1_2020,phrc2_2020])

In [64]:
phrc_2021.columns

Index(['Porteur de projet /  Investigateur coordonnateur\nNOM',
       'Porteur de projet / Investigateur coordonnateur\nPRENOM',
       'Numéro projet PHRC-N',
       'Nom de l'établissement de santé gestionnaire des fonds', 'Acronyme',
       'Titre du projet ', 'Autorisation d'engagement (AE)', 'Année', 'Type'],
      dtype='object')

In [65]:
phrc_2021.columns = ["Nom de l'établissement","NomInvestigateur","PrénomInvestigateur","TitreProjet","NuméroProjet","Acronyme","MontantAccordé","Année","Type"]

In [66]:
#base de donneés finale
PHRC = pd.concat([phrc2012,phrc2013,phrc2014,phrc2015,phrc2016,phrc2017,phrc2018,phrc2019,phrc2020,phrc_2021])

In [82]:
PHRC=PHRC.replace('[^\d.]','',regex=True)

In [83]:
PHRC["Projet"] = "PHRC"
PHRC

,Finess,Nom de l'établissement,NomInvestigateur,PrénomInvestigateur,TitreProjet,NuméroProjet,Acronyme,MontantAccordé,Année,Type,Projet
0,490000031,,,,,201,NaN,156091.0,2012,,PHRC
1,130786049,,,,,242,NaN,110000.0,2012,,PHRC
2,750712184,,,,2.,101,NaN,200000.0,2012,,PHRC
3,750712184,,,,,78,,112000.0,2012,,PHRC
4,290000017,,,,,205,NaN,60836.0,2012,,PHRC
...,...,...,...,...,...,...,...,...,...,...,...
95,NaN,,,210073,,,,632826,2021,.,PHRC
96,NaN,,,210060,,000,,831081,2021,.,PHRC
97,NaN,,,210336,,,,440000,2021,.,PHRC
98,NaN,,,210291,,,000000,808854,2021,.,PHRC
99,NaN,.,NaN,NaN,NaN,NaN,NaN,NaN,2021,.,PHRC

In [ ]:
PHRC.to_csv('PHRC.csv')

In [84]:
PHRC1=PHRC.loc[:,['Année', 'MontantAccordé','Type']]

In [85]:
PHRC1.dtypes

Année             object
MontantAccordé    object
Type              object
dtype: object

In [86]:
PHRC1['Année'] = pd.to_numeric(PHRC1['Année'])

In [87]:
PHRC1['MontantAccordé'] = pd.to_numeric(PHRC1['MontantAccordé'])

In [92]:
PHRC2=PHRC1.groupby(['Année']).sum()
PHRC2

       MontantAccordé
Année
2012     1.955523e+08
2013     7.531925e+07
2014     9.111366e+07
2015     1.041524e+08
2016     2.093267e+08
2018     1.083020e+08
2020     1.026768e+08
2021     7.000712e+07