<a href="https://colab.research.google.com/github/zinebgasmi/App-pratique/blob/master/TP10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [43]:
import pandas as pd

In [44]:
#importation des bases de données
df=pd.read_csv('/content/ProjetsComplet.csv')
df.columns

Index(['Unnamed: 0', 'Finess', 'Nom de l'établissement', 'NomInvestigateur',
       'PrénomInvestigateur', 'TitreProjet', 'NuméroProjet', 'Acronyme',
       'MontantAccordé', 'Année', 'Type', 'Projet'],
      dtype='object')

In [45]:
df.columns = ["Unnamed: 0","Finess","Nomdeletablissement","NomInvestigateur","PrenomInvestigateur","TitreProjet","NumeroProjet","Acronyme","MontantAccorde","Annee","Type",
"Projet"]

In [46]:
df=df.loc[:,['Annee', 'MontantAccorde','Nomdeletablissement','Projet']]
df

      Annee MontantAccorde        Nomdeletablissement Projet
0      2012       156091.0               CHU D'ANGERS   PHRC
1      2012       110000.0                       APHM   PHRC
2      2012       200000.0  ASSISTANCE PUBLIQUE AP-HP   PHRC
3      2012       112000.0  ASSISTANCE PUBLIQUE AP-HP   PHRC
4      2012        60836.0              CHRU DE BREST   PHRC
...     ...            ...                        ...    ...
2943   2021         415822  ASSISTANCE PUBLIQUE AP-HP    PRT
2944   2021       307134.6              CHRU DE TOURS    PRT
2945   2021     838 426 €#  ASSISTANCE PUBLIQUE AP-HP    PRT
2946   2021     324 700 €¤  ASSISTANCE PUBLIQUE AP-HP    PRT
2947   2021     224 389 €¤            CHU MONTPELLIER    PRT

[2948 rows x 4 columns]

In [47]:
df2018=df[df.Annee == 2018]
df2018

      Annee MontantAccorde           Nomdeletablissement Projet
1450   2018         196804                 CHU DE RENNES   PHRC
1451   2018         222520                  CHU D'ANGERS   PHRC
1452   2018         295791      CHU HOPITAUX DE BORDEAUX   PHRC
1453   2018         296880     ASSISTANCE PUBLIQUE AP-HP   PHRC
1454   2018         294442                    CHU AMIENS   PHRC
...     ...            ...                           ...    ...
2740   2018       249730.0  CLCC INSTITUT GUSTAVE ROUSSY    PRT
2741   2018       129813.0                         AP-HP    PRT
2742   2018       170009.0            CENTRE LEON BERARD    PRT
2743   2018       491459.0      INSTITUT CLAUDIUS REGAUD    PRT
2744   2018       286152.0                           HCL    PRT

[307 rows x 4 columns]

In [48]:
df2018[pd.to_numeric(df2018.MontantAccorde, errors='coerce').isnull()]

Empty DataFrame
Columns: [Annee, MontantAccorde, Nomdeletablissement, Projet]
Index: []

In [49]:
df2018['MontantAccorde'] = df2018['MontantAccorde'].astype(float, errors = 'raise')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [50]:
df2018.dtypes

Annee                    int64
MontantAccorde         float64
Nomdeletablissement     object
Projet                  object
dtype: object

In [54]:
df2018=df2018.sort_values('MontantAccorde', ascending = False).head(10)

In [55]:
#bdd 2019 tope 10
df2019=df[df.Annee == 2019]
df2019

      Annee MontantAccorde                    Nomdeletablissement Projet
1679   2019         282925                        CHU DE TOULOUSE   PHRC
1680   2019         296508                              CHU DIJON   PHRC
1681   2019         247103                            CHU DE NICE   PHRC
1682   2019         166510        CENTRE FRANCOIS BACLESSE - CAEN   PHRC
1683   2019         295729  HOPITAUX UNIVERSITAIRES DE STRASBOURG   PHRC
...     ...            ...                                    ...    ...
2760   2019       326074.0           CLCC INSTITUT GUSTAVE ROUSSY    PRT
2761   2019       580050.0                    CLCC INSTITUT CURIE    PRT
2762   2019        69400.0                     CENTRE LEON BERARD    PRT
2763   2019       185921.0                          CHU DE RENNES    PRT
2764   2019       251137.0                                    HUS    PRT

[337 rows x 4 columns]

In [56]:
df2019[pd.to_numeric(df2019.MontantAccorde, errors='coerce').isnull()]

Empty DataFrame
Columns: [Annee, MontantAccorde, Nomdeletablissement, Projet]
Index: []

In [57]:
df2019['MontantAccorde'] = df2019['MontantAccorde'].astype(float, errors = 'raise')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [58]:
df2019.dtypes

Annee                    int64
MontantAccorde         float64
Nomdeletablissement     object
Projet                  object
dtype: object

In [61]:
df2019=df2019.sort_values('MontantAccorde', ascending = False).head(10)
df2019

      Annee  MontantAccorde                    Nomdeletablissement Projet
2602   2019       2151388.0  ASSISTANCE PUBLIQUE-HOPITAUX DE PARIS   PRME
1913   2019       1829351.0                           CHU BORDEAUX   PHRC
1777   2019       1692435.0           CLCC INSTITUT GUSTAVE ROUSSY   PHRC
1824   2019       1611190.0                      CHU SAINT-ETIENNE   PHRC
1866   2019       1581512.0                        CHU MONTPELLIER   PHRC
2597   2019       1537584.0               CHU HOPITAUX DE BORDEAUX   PRME
1846   2019       1489241.0                           CHU GRENOBLE   PHRC
1888   2019       1332293.0                                  AP-HP   PHRC
1794   2019       1318444.0                              CHU BREST   PHRC
1863   2019       1269494.0                                  AP-HP   PHRC